personal-web-project/src/main/webapp/myxml/newbook.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bookstore (book+)>
<!ELEMENT book (name,author,price,publisher)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ATTLIST book id CDATA #REQUIRED>
<!ENTITY STR "www.baidu.com">
